body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    color: #ffffff;
}
.container {
    text-align: center;
    background: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 300px;
}
select {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;
}
button {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #47cb2f;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
